.wrapper {
  text-align: center;
  padding: 2rem 1rem;
  border: 1px dashed var(--color-border);
  border-radius: var(--radius);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
